.container{
    background-color: aquamarine;
    border: 1px solid springgreen;
    font-size: 30px;
    padding: 20;
}
.container-fluid{
    background-color: aquamarine;
    border: 1px solid springgreen;
    font-size: 30px;
    margin: 20px;
}
